<div id="<%= dom_id course %>" class="scaffold_record">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= course.image_url %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= course.url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Started:</strong>
    <%= course.started %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= course.completed %>
  </p>

  <p>
    <%= link_to "Show this course", course %>
  </p>
</div>
